body {
    background-color: #F0EBE3;
    background-image: url('https://st2.depositphotos.com/1001092/5736/i/450/depositphotos_57362911-stock-photo-baking-background.jpg');
    background-size: cover;
    background-position: center right;
    background-attachment: fixed;
}

li {
    all: unset;
}

.error-message {
    transition: transform 0.3s ease-in-out;
    transform: translateX(-150%);
}

.error-message.open {
    transform: translateX(0%);
}
