li {
    all: unset;
}

body {
    background-color: #F0EBE3;
    background-image: url('https://static.vecteezy.com/system/resources/previews/008/660/558/non_2x/organic-food-background-hand-drawn-concept-free-vector.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Ensures the background image remains fixed */
}
