body {
    background-color: #F0EBE3;
    background-image: url('https://static.vecteezy.com/system/resources/previews/025/480/694/large_2x/vegetables-set-and-spices-for-cooking-on-dark-background-ai-generated-free-photo.jpg');
    background-size: cover;
    background-position: center right;
    background-attachment: fixed;
}

li {
    all: unset;
}

.error-message {
    transition: transform 0.3s ease-in-out;
    transform: translateX(-150%);
}

.error-message.open {
    transform: translateX(0%);
}
